################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sln
/InstantEats/.vs/InstantEats/v16
/InstantEats/InstantEats/obj
/InstantEats/InstantEats/bin/Debug/net5.0
*.user
/InstantEats/.vs/InstantEats/config
